<p id="notice"><%= notice %></p>
</br>
<p>
  <strong>Service:</strong>
  <%= @service.title %>
</p>
</br>
<p>
  <strong>Category:</strong>
  <%= @service.category.title %>
</p>
</br>
<p>
  <strong></strong>
  <%= image_tag @service.image_data %>
</p>
</br>
<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>
</br>
<p>
  <strong>Consultant:</strong>
  <%= @consultant_name %>
</p>
</br>
<p>
  <strong>Price:</strong>
  <%= "$#{@service.price_per_hour / 100}" %>
</p>
</br>
<p>
  <strong>Min duration:</strong>
  <%= "#{@service.min_duration}\'" %>
</p>
</br>
<p>
  <strong>Max duration:</strong>
  <%= "#{@service.max_duration}\'" %>
</p>
</br>


<%= link_to 'Book', new_booking_path(@service) %> |
<% if @service.user_id == current_user.id %>
  <%= link_to 'Edit', edit_service_path(@service) %> |
  <%= link_to 'Delete', @service, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', services_path %>
</br></br>
