<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category.title %>
</p>

<p>
  <strong></strong>
  <%= image_tag @service.image_data %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Consultant:</strong>
  <%= @consultant_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price_per_hour %>
</p>

<p>
  <strong>Min duration:</strong>
  <%= @service.min_duration %>
</p>

<p>
  <strong>Max duration:</strong>
  <%= @service.max_duration %>
</p>



<%= link_to 'Book', new_booking_path(@service) %> |
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
