<p id="notice"><%= notice %></p>

</br>
<h1>You can view and edit your profile below!<h1>
</br></br>
<p>

  <%= @profile.first_name + " " + @profile.last_name %>
</p>
</br>
<p>
  <% if @profile.image.present? %>
    <%= image_tag @profile.image_url(:medium) %>
  <% else %>
    no image
  <% end%>
</p>
</br>
<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>
</br>
<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>
</br>
<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>
</br>
<p>
  <strong>Zip:</strong>
  <%= @profile.zip %>
</p>
</br>
<p>
  <strong>Country code:</strong>
  <%= @profile.country_code %>
</p>
</br>
</br>

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn" %> 
<%= link_to 'Back', profile_path(id: @profile.user_id), class: "btn" %>
</br></br>
