<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Service:</h4>
    <%= @service_title %>
  </div>

  <div class="field">
    <h4>Consultant:</h4>
    <%= @consultant_name %>
  </div>


    <%# <h4>Consumer:</h4>
    <%= @consumer.id %>
 


  <div class="field">
    <%= form.label :consumer_id %>
    <%= form.text_field :consumer_id %>
  </div>

  <div class="field">
    <%= form.label :check_in %>
    <%= form.datetime_select :check_in %>
  </div>

  <div class="field">
    <%= form.label :checkout %>
    <%= form.datetime_select :checkout %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<%= params.each do |key,value| %>
  <%= Rails.logger.warn "Param #{key}: #{value}" %>
<% end %>