<p id="notice"><%= notice %></p>
</br>
<h1>You can view your bookings below!</h1>

<table>
  <thead>
    <tr>
      <th>Consultant</th>
      <th>Check in</th>
      <th>Checkout</th>
      <th>Status</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= Profile.find(booking.consultant.id).first_name + " " + Profile.find(booking.consultant.id).last_name %></td>
        <td><%= booking.check_in %></td>
        <td><%= booking.checkout %></td>
        <td><%= booking.status %></td>
        <td><%= Service.find(booking.service.id).title %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
