<p id="notice"><%= notice %></p>

<p>
  <strong>Consultant:</strong>
  <%= @booking.consultant %>
</p>

<p>
  <strong>Consumer:</strong>
  <%= @booking.consumer %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @booking.check_in %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @booking.checkout %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Service:</strong>
  <%= @booking.service %>
</p>


<% if ( (@booking.consultant.id == current_user.id) && (@booking.status == 'Unconfirmed') ) %>
  <%= link_to "Accept Booking", accept_booking_path(booking_id: @booking.id), :method => :put %>
<% end %>
<%= link_to 'Back', bookings_path %>
      
