<h1>Beauty Share</h1>



<h2>Latest</h2>
<%= render 'layouts/card' %>

<%= link_to 'see more', services_path %>
<br/><br/>

<h2>Earn up to $5.000 per month
spreading beauty</h2>
<%= image_tag("home/boss.png", width:'36', height:'100', alt: "boss") %>
<h3>You are the boss</h3>
<p>With over 100M women needing 
a makeup every day there are lots of opportunities
</p>

<%= image_tag("home/payment.png", width:'64', height:'99', alt: "boss") %>
<h3>Payments</h3>
<p>WWith our secure payment system you can offer your services knowing payment will be made asap
</p>

<%= image_tag("home/insurance.png", width:'70', height:'55', alt: "boss") %>
<h3>Top rated insurance</h3>
<p>We make sure that everyone understands the risks of offering or using beauty products
</p>



    



