<%= image_tag("cover/beauty_cover.jpg", width:'100%',  alt: "boss") %>


</br></br>
<h1>What do you need ?</h1>
</br>
<%= render 'services/services_cards' %>

<%= link_to 'SEE MORE', services_path %>
<br/><br/><br/><br/><br/><br/>

<h2 class="moto">Earn up to $5.000 per month
spreading beauty</h2></br>
<%= image_tag("home/boss.png", width:'36', height:'100', alt: "boss") %></br>
<h2>You are the boss</h2></br>
<p class="moto">With over 100M women needing a makeup every day there are lots of opportunities</p></br>
</br></br>
<%= image_tag("home/payment.png", width:'64', height:'99', alt: "boss") %></br>
<h2>Payments</h2></br>
<p class="moto">WWith our secure payment system you can offer your services knowing payment will be made asap</p></br>
</br></br>
<%= image_tag("home/insurance.png", width:'70', height:'55', alt: "boss") %></br>
<h2>Top rated insurance</h2></br>
<p class="moto">We make sure that everyone understands the risks of offering or using beauty products</p>
</br></br></br>



    



