<!DOCTYPE html>
<html>
  <head>
    <title>Beautyshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Roboto+Mono" rel="stylesheet">
    <%= stylesheet_link_tag  'https://checkout.stripe.com/v3/checkout/button.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-container">
      <header>
        <h1><%= link_to( (image_tag("logo/logo.png", width:'355', height:'121', alt: "boss")), root_path) %></h1>

      </header>

      <nav class="nav">
        <ul>
          <li><a href="services"><h1>Services</h1></a></li>
          <li><a href="#"><h1>Find a consultant</h1></a></li>
          <li><a href="#"><h1>Become a consultant</h1></a></li>
          <li><a href="#"><h1>Profile</h1></a></li>
          <%# <%= link_to "Profile", profile_path(1), :class => "a" %>
          <li><a href="#"><h1>Bookings</h1></a></li>
          <li><a href="#"><h1>Contact</h1></a></li>
        </ul>
        <% if !user_signed_in? %>
            <%= link_to "Sign in", new_user_session_path %><p>
            <%= link_to "Sign up", new_user_registration_path %>
        <% else %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% end%>   
      </nav>
          
      <article class="article">
          <%= yield %>
      </article>

      <footer>Copyright &copy; 2018. BeautyShare Pty. Alls rights reserverd</footer>
</div>
  </body>
</html>
